<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script type="text/javascript" src="jquery/jquery.js" defer></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js" defer></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="bs/css/bootstrap.css">
    <link rel="stylesheet" href="bs-i/css/bootstrap-icons.css">
    <script type="text/javascript" src="bs/js/bootstrap.bundle.js" defer></script>

    <!-- DATATABLES JS -->
    <link rel="stylesheet" href="css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="css/buttons.bootstrap5.min.css">
    <script type="text/javascript" src="js/dataTables.buttons.min.js" defer></script>
    <script type="text/javascript" src="js/jszip.min.js" defer></script>
    <script type="text/javascript" src="js/pdfmake.min.js" defer></script>
    <script type="text/javascript" src="js/vfs_fonts.js" defer></script>
    <script type="text/javascript" src="js/dataTables.bootstrap5.min.js" defer></script>
    <script type="text/javascript" src="js/buttons.html5.min.js" defer></script>
    <script type="text/javascript" src="js/buttons.print.min.js" defer></script>
    <script type="text/javascript" src="js/buttons.colVis.js" defer></script>

    <!-- CUSTOM -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <script type="module" src="js/main.js" defer></script>

    <title>Arnica/Rhelen Data Entry</title>
</head>

<body>
    <!-- CMS -->
    <div id="container-dataquery">
        <div class="alert alert-secondary text-end p-2" role="alert">
            <button id="cerrar-sesion-btn" class="btn btn-outline-primary"><i class="bi bi-box-arrow-right"></i> Cerrar
                sesion</button>
        </div>

        <!-- EVENTOS & ESTACIONES -->
        <div class="d-flex flex-wrap flex-lg-nowrap d-grid gap-4 mb-5 mb-lg-4">
            <!-- EVENTOS -->
            <div class="col-12 col-md-8 border rounded-3 shadow p-3" style="background-color: snow;">
                <!-- Tabla de eventos -->
                <div class="mb-3">
                    <h2 class="text-muted"><i class="bi bi-trophy"></i> Eventos</h2>
                    <hr>
                    <div class="table-responsive mb-2">
                        <table id="eventos-tbl" class="table table-hover evt-est">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Descripción</th>
                                    <th>Fecha Ini.</th>
                                    <th>Fecha Fin.</th>
                                    <th>Inicio</th>
                                    <th>Cierre</th>
                                    <th class="text-center">Estatus</th>
                                    <th class="text-center">Acc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% eventos.forEach(evt=>{ %>
                                    <tr id="reg-<%= evt.id%>">
                                        <% for(let col in evt) { %>
                                            <td>
                                                <%= evt[col] %>
                                            </td>
                                            <%} %>
                                                <td class="text-center">
                                                    <button data-id="<%= evt['id']%>" data-tipo="eventos"
                                                        class="btn btn-outline-danger btn-sm eliminar-btn"
                                                        title="Eliminar" data-bs-toggle="modal"
                                                        data-bs-target="#confirmar-eliminacion-modal"><i
                                                            class="bi bi-trash"></i></button>
                                                </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Gestion de eventos -->
                <div class="accordion" id="accordionEventos">
                    <!-- Modificar horario de atencion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#horarios-acc" aria-expanded="true" aria-controls="horarios-acc">
                                <b>Modificar Horarios</b>
                            </button>
                        </h2>

                        <div id="horarios-acc" class="accordion-collapse collapse" aria-labelledby="headinghorarios-acc"
                            data-bs-parent="#accordionEventos">
                            <div class="accordion-body">
                                <form id="horario-atencion-frm">
                                    <!-- Evento -->
                                    <div class="input-group">
                                        <label class="input-group-text" for="evento">Evento</label>
                                        <select class="form-select" name="evento">
                                            <option value="" selected>Seleccione</option>
                                            <% eventos.forEach(evt=> { if(evt.estatus == "En curso"){%>
                                                <option value="<%= evt.id %>">
                                                    <%= evt.descripcion%>
                                                </option>
                                                <% }})%>
                                        </select>
                                    </div>

                                    <!-- Horario -->
                                    <div class="d-flex flex-wrap flex-lg-nowrap d-grid gap-2 my-2">
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtHrIni">Hora de inicio</label>
                                            <select class="form-select" name="inicio">
                                                <option value="" selected>Seleccione</option>
                                                <% horarios.forEach(hr=> {%>
                                                    <option value="<%= hr.hora %>">
                                                        <%= hr.hora%>
                                                    </option>
                                                    <%})%>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtHrFin">Hora de cierre</label>
                                            <select class="form-select" name="cierre">
                                                <option value="" selected>Seleccione</option>
                                                <% horarios.forEach(hr=> {%>
                                                    <option value="<%= hr.hora %>">
                                                        <%= hr.hora%>
                                                    </option>
                                                    <%})%>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- Boton -->
                                    <div class="col-auto text-end">
                                        <button class="btn btn-success"><i class="bi bi-check-lg"></i>
                                            Aceptar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Agregar nuevo evento -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading2">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#eventos-acc" aria-expanded="true" aria-controls="eventos-acc">
                                <b>Nuevo evento</b>
                            </button>
                        </h2>
                        <div id="eventos-acc" class="accordion-collapse collapse" aria-labelledby="headingeventos-acc"
                            data-bs-parent="#accordionEventos">
                            <div class="accordion-body">
                                <form id="nuevo-evento-frm">
                                    <!-- Evento -->
                                    <input type="text" class="form-control" name="evtdesc"
                                        placeholder="Nombre del evento">

                                    <!-- Fecha -->
                                    <div class="d-flex flex-wrap flex-lg-nowrap d-grid gap-2 my-2">
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtfecini">Desde</label>
                                            <input type="date" class="form-control" name="evtfecini">
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtfecfin">Hasta</label>
                                            <input type="date" class="form-control" name="evtfecfin">
                                        </div>
                                    </div>

                                    <!-- Horario -->
                                    <div class="d-flex flex-wrap flex-lg-nowrap d-grid gap-2 my-2">
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtHrIni">Hora de inicio</label>
                                            <select class="form-select" name="inicio">
                                                <option value="" selected>Seleccione</option>
                                                <% horarios.forEach(hr=> {%>
                                                    <option value="<%= hr.hora %>">
                                                        <%= hr.hora%>
                                                    </option>
                                                    <%})%>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text" for="evtHrFin">Hora de cierre</label>
                                            <select class="form-select" name="cierre">
                                                <option value="" selected>Seleccione</option>
                                                <% horarios.forEach(hr=> {%>
                                                    <option value="<%= hr.hora %>">
                                                        <%= hr.hora%>
                                                    </option>
                                                    <%})%>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-auto text-end">
                                        <button class="btn btn-success"><i class="bi bi-check-lg"></i>
                                            Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ESTACIONES -->
            <div class="border rounded-3 shadow p-3" style="flex-grow: 1;background-color: snow;">
                <!-- Tabla -->
                <div class="mb-3">
                    <h2 class="text-muted"><i class="bi bi-clipboard2-pulse"></i> Estaciones</h2>
                    <hr>
                    <div class="table-responsive mb-2">
                        <table id="estaciones-tbl" class="table table-hover evt-est">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Estación</th>
                                    <th class="text-center">Activo</th>
                                    <th class="text-center">Acc</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% estaciones.forEach(est=>{ %>
                                    <tr id="reg-<%= est.id%>">
                                        <% for(let col in est) { if(col==="estatus" ) { if(est[col]=="activo" ) { %>
                                            <td class="text-center">
                                                <input class="form-check-input estatus-chk" type="checkbox" value=""
                                                    data-id="<%= est['id']%>" data-tipo="estaciones" checked>
                                            </td>
                                            <% } else {%>
                                                <td class="text-center">
                                                    <input class="form-check-input estatus-chk" data-tipo="estaciones"
                                                        data-id="<%= est['id']%>" type="checkbox" value="">
                                                </td>
                                                <% }%>
                                                    <%} else{ %>
                                                        <td>
                                                            <%= est[col] %>
                                                        </td>
                                                        <% } %>
                                                            <% } %>
                                                                <td class="text-center">
                                                                    <button data-id="<%= est['id']%>"
                                                                        data-tipo="estaciones"
                                                                        class="btn btn-outline-danger btn-sm eliminar-btn"
                                                                        title="Eliminar" data-bs-toggle="modal"
                                                                        data-bs-target="#confirmar-eliminacion-modal"><i
                                                                            class="bi bi-trash"></i></button>
                                                                </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Gestion de estaciones -->
                <div class="accordion" id="accordionEstaciones">
                    <!-- Agregar estacion -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading1">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#estaciones-acc" aria-expanded="true" aria-controls="estaciones-acc">
                                <b>Nueva estación</b>
                            </button>
                        </h2>

                        <div id="estaciones-acc" class="accordion-collapse collapse"
                            aria-labelledby="headingestaciones-acc" data-bs-parent="#accordionEstaciones">
                            <div class="accordion-body">
                                <form id="nueva-estacion-frm" class="d-grid gap-2 mt-2">
                                    <input type="text" id="estacion-descripcion" class="form-control" name="estacion"
                                        placeholder="Nombre de la estación">
                                    <input type="file" id="estacion-img" class="form-control" name="imagen"
                                        accept=".jpg, .jpeg">
                                    <small class="text-muted">Imagen de estación: formato jpg 1000x500 px</small>

                                    <div class="col-auto text-end">
                                        <button class="btn btn-success" id="agregar-estacion-btn"><i
                                                class="bi bi-check-lg"></i>
                                            Agregar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- HISTORIAL DE REGISTROS -->
        <h2 class="text-muted"><i class="bi bi-database"></i> Historial de registros de usuarios</h2>
        <hr>

        <div class="table-responsive">
            <table id="registros-agenda-tbl" class="table table-hover" style="width:100%">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Fecha Registro</th>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Edad</th>
                        <th>Genero</th>
                        <th>Estado</th>
                        <th>Ciudad</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Instagram</th>
                        <th>Evento</th>
                        <th>Equipo</th>
                        <th>Categoria</th>
                        <th>Estación</th>
                        <th>Fecha cita</th>
                        <th>Hora cita</th>
                        <th>Concluida</th>
                    </tr>
                </thead>
                <tbody>
                    <% registros.forEach(reg=>{ %>
                        <tr>
                            <% for(let col in reg) { if(col=="concluida" ){ if(reg[col]==0){ %>
                                <td class="text-center">
                                    <i class="btn btn-outline-success bi bi-hand-thumbs-up text-success concluir-cita-btn"
                                        data-reng="<%= reg['id'] %>" data-cedula="<%= reg['cedula'] %>"
                                        alt="Marcar cita como concluida"></i>
                                </td>
                                <% }else{ %>
                                    <td class="text-center">
                                        <i class="bi bi-check-lg text-success" alt="Cita concluida"
                                            style="font-size:2em"></i>
                                    </td>
                                    <%} }else { %>
                                        <td>
                                            <%= reg[col] %>
                                        </td>
                                        <%} }%>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <!-- MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId"><i class="bi bi-person"></i> ADMIN LOGIN</h5>
                </div>
                <div class="modal-body">

                    <div id="login-err-alert" class="alert alert-danger" role="alert" style="display:none">
                        <strong>Datos incorrectos.</strong>
                    </div>

                    <form id="admin-login-frm">
                        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Usuario">
                        <input type="password" class="form-control mt-2" name="clave" id="clave" placeholder="Clave">
                    </form>

                </div>
                <div class="d-flex flex-column modal-footer">
                    <div>
                        <input id="recordar-cuenta-chk" class="form-check-input" type="checkbox" name="recordar-cuenta"
                            value="" disabled>
                        <label for="recordar-cuenta-chk"> Recordar cuenta</label>
                    </div>

                    <button id="admin-login-btn" type="button" class="btn btn-success"><i class="bi bi-door-open"></i>
                        Entrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AVISO DE ERROR -->
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger m-0" role="alert">
                        <b><i class="bi bi-exclamation-triangle"></i> Error en operación, intente nuevamente.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AVISO OPERACION EXITOSA -->
    <div class="modal fade" id="exito-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-success m-0" role="alert">
                        <i class="bi bi-check-lg"></i> Operación ejecutada exitosamente.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL AVISO CAMPOS VACIOS -->
    <div class="modal fade" id="campos-vacios-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-warning m-0" role="alert">
                        <b><i class="bi bi-exclamation-triangle"></i> Debe completar todos los campos para
                            continuar.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CONFIRMACION ELIMINAR -->
    <div class="modal fade" id="confirmar-eliminacion-modal" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId"><i class="bi bi-trash"></i> Eliminar registro</h5>
                </div>
                <div class="modal-body">
                    Esta a punto de eliminar el registro seleccionado, desea continuar?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                    <button id="confirmar-eliminar-btn" type="button" class="btn btn-danger"
                        data-bs-dismiss="modal">Si</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PRELOADER -->
    <div class="modal fade" id="preloader-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
        role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document"
            style="max-width:fit-content;">
            <div class="modal-content">
                <div class="modal-body">
                    <img class='align-self-center' src='<%= server %>img/preloader.gif' alt='preloader img'>
                </div>
            </div>
        </div>
    </div>
</body>

</html>